.navbar {
    background-color: teal;
    }

.button-search {
    background-color: burlywood;
    }

.main-contact-form {
    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}

.fill-form {
    width: 800px;
    margin: 0 auto;
    border: 1px solid teal;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(141, 180, 180);
}

.button-send {
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 10px;
    width: 100px;
    transition: 0.2s;
}

.button-send:hover {
    background-color: beige;
}

.company-email {
    background-color: red;
}

footer{
    background-color: teal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
}

.content-terms>a{
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.logo-2{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

.content-sns>img{
    margin-left: 10px;
}

/* Responsive */
@media (max-width:920px) { 
.fill-form {
    width: 100%;
}
}